#banner
  .banner_content
    %h1 File Cabinet
    %p Your life in a Doc!
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callouts_inner
    .wrapper
      .callouts
        %h2 Orginize
        %p I'm baby hella copper mug echo park, synth swag art party butcher four dollar toast. +1 ennui everyday carry meditation lumbersexual chia. Seitan stumptown bushwick, letterpress literally hexagon lo-fi deep v subway tile irony trust fund jean shorts. Fashion axe beard palo santo, microdosing actually pitchfork unicorn tumblr gentrify biodiesel master cleanse helvetica vinyl. Williamsburg chicharrones fanny pack PBR&B, ennui slow-carb letterpress squid narwhal. Green juice ugh irony freegan health goth migas put a bird on it brooklyn. Wayfarers etsy waistcoat mumblecore farm-to-table locavore copper mug aesthetic.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
